<!DOCTYPE html>
<html>
<head>
<title>Change Password</title>
</head>
<body>
  <div>
    <form method="post" action="/api/unauthUser/reset">
      <p>
        <label>New Password:</label>
        <input type="hidden" name="token" value=<%=verification_token %>>
        <input type="password" name="new_password">
      </p>
      <p>
        <label>Confirm Password:</label>
        <input type="password" name="conf_password">
      </p>
      <p>
        <input type="submit" value="Change">
      </p>
   </form>
  </div>
</body>
</html>
